.lottery-container {
  width: 330px;
  height: 330px;
  background-color: #cccccc;
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  justify-content: space-around; }
  .lottery-container .prize {
    width: 100px;
    height: 100px;
    background: #f4f4f4;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 1px 1px #888888; }
    .lottery-container .prize.trigger-btn:hover {
      background-color: #30a1f4; }
    .lottery-container .prize.high-light {
      background-color: #ff8736; }

body {
  width: 100%; }

#root {
  width: 600px;
  height: 600px;
  margin: 100px auto;
  background-color: rgba(50, 171, 150, 0.33);
  display: flex;
  align-items: center;
  justify-content: center; }

